<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/form.css">

</head>
<body>
    <%- include('../includes/navigation.ejs') %> 
    
    
    <main>
        <h2>Add your favorite Pizza</h2>
        <form class="form-control" action="/admin/<% if (editing) { %>edit-pizza<% } else{ %>add-pizza<% } %> " method="POST">
            <label for="title">
                Title

                <input type="text" required name="title" id="title" value="<% if (editing) { %> <%= pizza.title %> <% } %>">
            </label>
            <label for="price">
                Price
                
                <input type="number"  required name="price"  step="0.01" id="price" value="<% if (editing) { %><%= pizza.price %> <% } %>">
            </label>
            <label for="imageUrl">
                Image Url

                <input type="url" required name="imageUrl" id="imageUrl" value="<% if (editing) { %> <%= pizza.imageUrl %><% } %>">
            </label>
            <label for="description">
                Description
            </label>

                <textarea   rows="5" name="description" id="description" >
                <% if (editing) { %><%= pizza.description %> <% } %>
                    
                </textarea>

                    <% if (editing) { %>
                        <input  type="hidden" name="id" value="<%=pizza._id%>">
                    <% } %>
                    
            <button class="btn" type="submit"> 
                <% if (editing) { %>
                    Update Pizza
                <% } %>
                <% if (!editing) { %>
                    Add Pizza
                <% } %>
                
                
        </form>
    </main>
    
    <%- include('../includes/end.ejs') %> 
