<%- include('../includes/head.ejs') %> 
</head>
<body>
    <%- include('../includes/navigation.ejs')  %> 
    
    
    <main>
        <% if (prods.length >0) { %>
            
            <div class="grid">
                <% prods.forEach( pizza => { %>
                 
                    <article class="card">
                        <div class="card__header">
                            <h2 class="card__title"> <%= pizza.title %> </h2>
                        </div>
                        <div class="card__image">
                        <img src="https://picsum.photos/200" alt="pizza image">
                    </div>
                    <div class="card__body">
                        <h2 class="pizza-price">
                            $ <%= pizza.price %> 
                    </h2>
                    <p class="pizza-description"><%= pizza.description %> </p>
                </div>
                
                <div class="card__action">
                    <a href="/admin/edit-pizza" class="btn">Edit</a>

                    <form action="/admin/delete-pizza" method="POST">
                        <input type="hidden" name="id"  value="<%= pizza.title %> ">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                </div>
            </article>
            <% }) %>
        </div>
        <% } else { %>
            <h2>No Pizza</h2>
            <% }  %>
            
        </main>

    <%- include('../includes/end.ejs')  %> 