<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/order.css">

</head>
<body>
    <%- include('../includes/navigation.ejs')  %> 
    <main class="order-now">
        <div class="orders">
            <% if (pizzas.length > 0) { %>
                <div class="order">
            <ul>
                <% pizzas.forEach(pizza => { %>
                    <li>
                        <h2><%= pizza.pizzaId.title %> </h2>
                        <h3><%= pizza.quantity %></h3>
                        
                        <form action="/cart-delete-pizza" method="post">
                        <input type="hidden" name="id" value="<%= pizza.pizzaId._id%>" >
                        <input type="hidden" value="<%= csrfToken %>" name="_csrf">

                        <button class="btn delete-btn" type="submit"> Delete</button>
                        </form>
                      </li> 

                 </div>
                <% }) %>
            </ul>

            </div>
            <hr>
            <form  action="/create-order" method="post">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">

                <button class="btn " id="order-btn" type="submit"> Order Now!</button>
                </form>

         
        <% } else{ %>
            <h2>No Pizzas In Your Cart</h2>

             <% } %>
    </main>
    <%- include('../includes/end.ejs')  %> 