<%- include('../includes/head.ejs') %> 
</head>
<body>
    <%- include('../includes/navigation.ejs')  %> 
    <main>
        <% if (pizzas.length > 0) { %>
            <ul>
                <% pizzas.forEach(pizza => { %>
                    <li>
                        <h2><%= pizza.pizzaId.title %> </h2>
                        <h3><%= pizza.quantity %></h3>
                        
                        <form action="/cart-delete-pizza" method="post">
                        <input type="hidden" name="id" value="<%= pizza.pizzaId._id%>" >
                        <button class="btn" type="submit"> Delete</button>
                        </form>
                      </li> 
                 
                <% }) %>
            </ul>
            <hr>
            <form action="/create-order" method="post">
                <button class="btn" type="submit"> Order Now!</button>
                </form>

         
        <% } else{ %>
            <h2>No Pizzas In Your Cart</h2>

             <% } %>
    </main>
    <%- include('../includes/end.ejs')  %> 